* {

    box-sizing:content-box;

    border-radius: 5px;

}

h3{
    text-decoration: underline;
}

.gridcontainer {

    display:grid;

    height: 800px;

    background-color:#C0D678;

    grid-template-columns:repeat(10,1fr);

    grid-template-rows:repeat(10,1fr);

    grid-gap:5px;

}

nav {

    text-align:right;

    background-color:#C0D678;

    grid-column:1/11;

    grid-row:1/1;

    text-decoration: none;



}



.gridheader {

    text-align:center;

    background-color:#94BF75;

    grid-column: 1/11;

    grid-row: 2/3;

   
}


.indexarticle{

    text-align: center;

    grid-column: 1/6;

    grid-row: 3/11;

    background-color: #B6BF6F;
}

.indexaside{

    text-align: center;

    grid-column: 6/11;

    grid-row: 3/7;

    background-color:#95A617;
}

.contactarticle{

    text-align: center;

    font-size: larger;

    grid-column: 1/6;

    grid-row: 3/7 ;

    background-color:#B6BF6F ;

}

.contactaside{

    text-align:center;

    font-size: larger;

    grid-column: 6/11;

    grid-row: 7/11;

    background-color:#95A617;

}

.aboutarticle{

    align-items: stretch;

    text-align:center;

   grid-column: 2/10;

   grid-row: 3/11;

    background-color: #95A617;

}



footer{
   
    text-align: center;

    grid-column: 1/11;

    grid-row: 11/11;

    background-color: #D4D9B4;
}